width: fit-content;
font-size:medium;
font-weight:bolder;
font-style:normal;


body {  
    background-color: seashell;  
}
h1 {  
    color:palevioletred;
      font-family: Times New Roman;
}
h4 {  
    color:blue;  
    font-family: Times New Roman;
}
p {
  color: orange;
  font-family: Comic Sans;
}
a:hover {  
        color:darkgreen;  
    }

