



.site-header__wrapper {
	background-color: lavender; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer__wrapper {
	background-color: lavender;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.img1 {

	float: right;
}

.img2 {

	float: right;
}

.img3 {

	float: right;
}

.des {

	background-color: yellow;
}

.p1{
	color:  black;
}

body {  
    background-color: seashell;  
}

p {
  color: black;
  font-family: Comic Sans;
}
a:hover {  
        color:darkgreen;  
    }

